.custom-dropdown-container {}

.custom-dropdown-header {
    height: 100%;
    padding-top: 2%;
    cursor: pointer;
}

.custom-dropdown-list-container {
    max-height: 300px;
    overflow: auto;
    background: white;
    padding: 0 10px;
    z-index: 999999999;
}

.custom-dropdown-list {
    padding: 5px 0;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
}

.cast-holder {
    display: flex;

    align-items: center;
}

.cast-holder img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.cast-holder h3 {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    margin-left: 15px;
}

.cast-search {
    width: 100%;
    height: 30px;
    margin: 10px 0;
}